<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<p th:text = "${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear_of_writing()}">VALUE</p>

<div>
    <span th:if="${book.getPerson_id() == null}">The Book is free. Who do you assign this book to?</span>
</div>

<form th:if="${book.getPerson_id() == null}" th:method="PATCH" th:action="@{/books/{id}(id=${book.getBook_id()})}" th:object="${book}">
    <label for="person">Choose people:</label>
    <select th:object="${person}" th:field="*{person_id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getPerson_id()}" th:text="${person.getName()}"> </option>
    </select>

    <input type="submit" value="choose" />
</form>

<!--<a th:href="@{/books/{id}/edit(id = ${book.getBook_id()})}">Edit</a>-->

<form th:method = "GET" th:action="@{/books/{id}/edit(id = ${book.getBook_id()})}">
    <input type = "submit" value="Edit"/>
</form>

<form th:method = "DELETE" th:action="@{/books/{id}(id = ${book.getBook_id()})}">
    <input type = "submit" value="Delete"/>
</form>

</body>
</html>